<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>Label</key>
      <string>net.rappazzo.backup-garage-band</string>
      <key>ProgramArguments</key>
      <array>
         <string>/Users/mike/.dots/private/backup-garage-band.sh</string>
      </array>
      <key>StartCalendarInterval</key>
      <dict>
         <key>Hour</key>
         <integer>3</integer>
         <key>Minute</key>
         <integer>0</integer>
      </dict>
      <key>RunAtLoad</key>
      <true />
      <key>StandardOutPath</key>
      <string>/Users/mike/Music/garage-band-backup.log</string>
      <key>StandardErrorPath</key>
      <string>/Users/mike/Music/garage-band-backup.err</string>
   </dict>
</plist>
