.vim/.netrwhist
.vim/temp
config/configstore/update-notifier-@tuyapi
config/configstore/update-notifier-npm.json
config/gitui
config/infor
config/iterm2-profiles.json
config/iterm2/AppSupport
config/jgit
config/karabiner/automatic_backups
private
vim/.netrwhist
vim/temp

# this is just a symlink
bin/unjam

config/Redgate/feature_usage_data
